.benefinte {
    height: 80vh;
}

.canapbeige {
    display: flex;
    height: 30rem;
    margin-left: 6rem;
margin-top: 2.5rem;
border-radius: 25px;
width: 35rem;
}
.propretemobilier{
    display: flex;
    right:40%;
    left: 60%;
    width: 19rem;
}
.css-1lt5qva-MuiCardContent-root {
    background-color: #307dca;
    border-radius: 20px;
    width: 100%;
}
.css-b7dj7n-MuiList-root{
    background-color: whitesmoke;
    border-radius: 20px;
}

..css-qjrqxz-MuiPaper-root-MuiCard-root{    
    background-color: #307dca;
    border-radius: 20px;
    width: 100%;
}

/* .MuiButtonBase-root MuiButton-root MuiButton-contained MuiButton-containedPrimary 
MuiButton-sizeMedium MuiButton-containedSizeMedium MuiButton-colorPrimary MuiButton-fullWidth MuiButton-root 
MuiButton-contained MuiButton-containedPrimary MuiButton-sizeMedium MuiButton-containedSizeMedium
 MuiButton-colorPrimary MuiButton-fullWidth css-qxc2i0-MuiButtonBase-root-MuiButton-root" */
