.prixp {
    display: flex; /* Arranges cards horizontally */
justify-content: center;  
height: 30rem;
 }
.MuiCard-root { /* Base styles for all cards */
  background-color: red;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 1rem;
}
.MuiTypography-h5 { /* Title styles */
    font-size: 20px;
    font-weight: bold;
  }
  
  .MuiTypography-h3 { /* Price styles */
    font-size: 24px;
    font-weight: bold;
  }
  
  .MuiList-root { /* List styles */
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .MuiListItem-root { /* Feature list item styles */
    margin-bottom: 10px;
  }
  
  /* Base button color */
  .MuiButton-contained { 
  background-color:red;   
  border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  .premium { /* Styles for the "Premium" card */
    background-color: #e6f7ff; /* Light blue background */
  }
  .MuiButton-contained { /* Override button color for "Premium" card */
    background-color: #337ab7; /* Darker blue button */
  }
